html,body{
    overflow-x: hidden;
}

.table {

    background-color: #f5f5f5;
    table-layout: fixed;
}

.table__row:nth-child(even) {
    background-color: #e5e5e5;
}

.table__header{
    text-align:left;
    font-size: x-small;
    white-space:nowrap;

}

.table__cell {
    padding: 3px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}