<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel='stylesheet' href='../static/css/orders_details.css'/>
    <title>User Order Details</title>
</head>
<body>
    <div id="map" ></div>
    <div class="container">
        <div class="container-fluid">
            <h1>{{ id }}</h1>
            <h2><i> ${{ order_price }} </i></h2>
            <form action='#' method="POST">
            <div class="row">
                <div class="col-xs-6">
                    <button name="sku" value="{{ id }}" type="submit" class="btn btn-primary">Complete Order</button>
                    {% for i in dict1 %}
                    <table class ="table">
                        <tbody>
                            <tr class="table__row">
                                <td class="table__cell">{{ i }}</td>
                                <td class="table__cell">{{ dict1[i] }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                    <button id="route" name="route" type="submit" class="btn btn-primary">Route</button>
                      
                    <p>{{  dict1['address1']   }} {{  dict1['address2']   }} {{  dict1['city']   }} {{  dict1['zip']   }} {{  dict1['provinceCode']   }} {{  dict1['country']   }}</p>
                    

                </div>
                <button name="name" value="name" type="submit" class="btn btn-primary">Canned Text</button>
            </form>
                <div class="col-xs-6">
                    {% for i in lst %}
                    <hr></hr>
                    <h2>{{ i["node"]['product']["title"]}}</h2>
                    <hr></hr>
                    <h4> SKU: {{ i["node"]['sku'] }}</h4>
                    <h3>{{ i["node"]['product']['productType'] }} Quantity: {{ i["node"]['quantity'] }}</h3>
                    <p>{{ i["node"]["product"]["description"] }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>  
</body>
</html>