<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel='stylesheet' href='../static/css/orders_details.css'/>
    <title>Order Details</title>
</head>
<body>
    <div class="container">
        <div class="container-fluid">
            {% block navbar %} 
            {{nav.nav_bar.render()}} 
            {% endblock %}
            <h1>{{ id }}</h1>
            <h2>{{ dict1["name"] }}</h2>
            <h2><i> ${{ order_price }} </i></h2>
            <form action='#' method="POST"><button name="sku" value="{{ id }}" type="submit" class="btn btn-primary">Add order</button></form>
                    <br></br>
                    <h2>Fulfillable</h2>
                    {% for i in item_check_dict %}
                    <br></br> 
                    <table class ="table">
                        <tbody>               
                            <tr class="table__header">
                                <th class="table__cell">Display Name</th>
                                <th class="table__cell">Fulfillable</th>
                                <th class="table__cell">Order quantity</th>
                                <th class="table__cell">Driver Inventory</th>
                            </tr>
                                <tr class="table__row">
                                    <td class="table__cell">{{ i }}</td>
                                    <td class="table__cell">{{ item_check_dict[i][0] }}</td>
                                    <td class="table__cell">{{ item_check_dict[i][1] }}</td>
                                    <td class="table__cell">{{ item_check_dict[i][2] }}</td>
                                </tr>
                            </tbody>
                    </table>
                    {% endfor %} 
                </div>
                    {% for i in lst %}
                    <hr></hr>
                    <h2>{{ i[1]["node"]['product']["title"]}}</h2>
                    <hr></hr>
                    <h4> SKU: {{ i[1]["node"]['sku'] }}</h4>
                    <h4> Quantity {{ i[1]["node"]["quantity"]}}</h4>
                    <h3>{{ i[0] }}</h3>
                    <p>{{ i[1]["node"]["product"]["description"] }}</p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>    
</body>
</html>