<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.google.com/maps/api/js?key=AIzaSyBl3lRbnW5YD8W3r1mHnAJhTkxLTRJ2ufA&map_ids=8a587080218f3071&callback=initMap"
      defer
    ></script>
    <link rel="stylesheet" type="text/css" href="../static/css/new_css.css" />
    <script> var waypts = JSON.parse('{{ lst | tojson | safe }}'); var v_lat = '{{lat}}'; var v_lng = '{{ lng }}';</script>
    <script src="../static/js/routing.js"></script>

  </head>
  <body>
    <div class="container-fluid"></div>
    <div id="map"></div>
  </body>

</html>
