<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel='stylesheet' href='../static/css/orders_details.css'/>
    <title>User Order Details</title>
</head>
<body>
    <div class="container">
        <div class="container-fluid">
            {% block navbar %} 
            {{nav.nav_bar.render()}} 
            {% endblock %}
            <h1>{{ id }}</h1>
            <h2><i> ${{ order_price }} </i></h2>
            <h2>{{ dict1["name"] }}</h2>
            <p>{{ dict1["phone"] }}</p>
            <p>{{ dict1["address1"] }} {{ dict1["address2"] }}</p>
            <form action='#' method="POST">
                <div class="row">
                    <div class="col-6 col-sm-4" style="float:left;">
                        <button id="route" name="route" type="submit" class="btn btn-primary">Start Navigation</button>
                    </div>
                    <div class="col-6 col-sm-4" style="float:right;">
                        <button name="name" value="name" type="submit" class="btn btn-primary">Canned Text</button>
                    </div>
                </div>
                    <br></br>
                    <h2>Fulfillable</h2>
                    {% for i in item_check_dict %}
                    <br></br> 
                    <table class ="table">
                        <tbody>               
                        <tr class="table__header">
                            <th class="table__cell">Display Name</th>
                            <th class="table__cell">Fulfillable</th>
                            <th class="table__cell">Order quantity</th>
                            <th class="table__cell">Driver Inventory</th>
                        </tr>
                            <tr class="table__row">
                                <td class="table__cell">{{ i }}</td>
                                <td class="table__cell">{{ item_check_dict[i][0] }}</td>
                                <td class="table__cell">{{ item_check_dict[i][1] }}</td>
                                <td class="table__cell">{{ item_check_dict[i][2] }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %} 
                </div>
                
            
                <div>
                    {% for i in lst %}
                    <hr></hr>
                    <h2>{{ i[1]["node"]['product']["title"]}}</h2>
                    <hr></hr>
                    <h4> SKU: {{ i[1]["node"]['sku'] }}</h4>
                    <h4> Quantity {{ i[1]["node"]["quantity"]}}</h4>
                    <h3>{{ i[0] }}</h3>
                    <p>{{ i[1]["node"]["product"]["description"] }}</p>
                    {% endfor %}
                </div>
                <br></br>
                <button name="cashapp" value="{{ id }}" type="submit" class="btn btn-primary btn-block">Mark Paid With Cash App</button>
                <br></br>
                <br></br>
                <button name="sku" value="{{ id }}" type="submit" class="btn btn-primary btn-block">Complete Order</button>
            </form>
            <br></br>
            <br></br>
            <br></br>

            </div>
        </div>
    </div>    
</body>
</html>